@use "sass:math";

.error {
	position: absolute;
	bottom: -20px;
  left: 0;

	font-weight: 500;
  color: rgb(186, 48, 48);

	font-size: rem(16);
	@include adaptiveValue("font-size", 16, 14, 1366, 768);
	@include adaptiveValue("font-size", 14, 12, 768, 375);
	@media (max-width:em(375)){
		font-size: rem(12);
	}

}

.visually-hidden{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.button {
	display: flex;
	justify-content:center;
	align-items: center;

  border-radius: rem(30);
  transition: all 0.3s ease 0s;

	white-space: nowrap;

	&_small{
		padding: rem(15) rem(24);
		border-radius: rem(20);
		letter-spacing: -0.005em;

		@media (max-width:em(1365.98)){
			font-size: rem(16);
			line-height: math.div(17, 16);	  
			padding: rem(11) rem(15);		  
		}
	}
	&_big{
		font-size: rem(25);
		line-height: math.div(27 , 25); 
		padding: rem(18) rem(30);		
		border-radius: rem(30);

		@media (max-width:em(1365.98)){
			font-size: rem(16);
			line-height: math.div(17, 16);	  
			padding: rem(13) rem(32);	
		}
	}

	&_blank {
		background-color: $whiteColor;
		color: $purpleColor;

		@media (any-hover: hover) {
		 &:hover {
		  background-color: $purpleColor;
			color: $whiteColor;
		 }
		}
	}
	&_full {
		background-color: $purpleColor;
		color: $whiteColor;

		@media (any-hover: hover) {
		 &:hover {
		  background-color: $whiteColor;
			color: $purpleColor;
		 }
		}
	}
}

.title {
	&_h2{
		font-weight: 500;
		line-height: math.div(38, 32);
		letter-spacing: 0.01em;
		color: $purpleColor;
		
		font-size: rem(32);
		@include adaptiveValue("font-size", 32, 20, 1366, 768);
		@media (max-width:em(768)){
			font-size: rem(20);
		}
		
		margin-bottom: rem(40);
		@include adaptiveValue("margin-bottom", 40, 20, 1366, 768);
		@include adaptiveValue("margin-bottom", 20, 16, 768, 375);
		@media (max-width:em(375)){
			margin-bottom: rem(16);
		}
	}

	&_h3{
		font-weight: 500;
		line-height: math.div(30 , 25);
		letter-spacing: 0.01em;
		
		font-size: rem(25);
		@include adaptiveValue("font-size", 25, 18, 1366, 768);
		@include adaptiveValue("font-size", 18, 14, 768, 375);
		@media (max-width:em(375)){
			font-size: rem(14);
		}
	}
}

//====================================================================================================
.slider-navigation{
	display: block;

	@media (max-width: em(1365)) {
		display: none;
	}

	&__button_prev,
	&__button_next {
		position: absolute;
		top: 39%;

		width: rem(30);
		height: rem(30);

		display: flex;
		justify-content: center;
		align-items: center;
		
		background-color: $purpleColor;
		border-radius: 50%;
		transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s;
		opacity: 1;

		cursor: pointer;

		&::before {
			font-size: rem(10.87);
			color: $whiteColor;
		}

		@media (any-hover: hover){
			&:hover{
				background-color: $whiteColor;
				
				&::before{
					color: $purpleColor;
				}
			}
		}

		&.swiper-button-disabled {
			opacity: 0;
	 }
	}

	&__button_prev {
		left: 5vw;
		right: auto;

		&::before {
			transform: rotate(180deg);
		}

		@media (min-width:em(1600)){
			left: 3vw;
		}
	}

	&__button_next {
		right: 5vw;
		left: auto;

		@media (min-width:em(1600)){
			right: 3vw;
		}
	}
}

//======================================================================================
// Попап

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.95);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  pointer-events: none;
  z-index: 3;
}
.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

	display: flex;
	justify-content:center;
	align-items: center;
	padding: rem(20);

  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;

	&_open {
		z-index: 50;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}

	&_open &__content {
		visibility: visible;
		transform: scale(1);
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	&__content {
		position: relative;
		width: 100%;
		max-width: rem(732);
		padding: rem(20) rem(48) rem(50);
		background-color: $whiteColor;
		border: 1px solid $whiteColor;
		border-radius: rem(16);
		box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);

		visibility: hidden;
		transform: scale(0);
		transition: transform 0.3s ease 0s;

		@media (max-width:em(768)){
			max-width: rem(563);
			padding: rem(15) rem(38) rem(35);
		}

		@media (max-width:em(376)){
			max-width: rem(335);
			padding: rem(10) rem(18) rem(25);
		}

		.lock .popup__content {
			visibility: visible;
		}
	}

	&__body{
		position: relative;
	}

	&__close{
		&::before,
		&::after{
			content: "";
			position: absolute;
			top: rem(46.4);
			right: rem(25.6);

			width: rem(35);
			height: 2px;
			background-color: $purpleColor;
			border-radius: 1px;
			z-index: 3;

			@media (min-width:em(375)){
				top: rem(30);
				right: rem(15);
			}
		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}

	&__title.title_h2 {
		color: $darkPurpleColor;

		@media (max-width:em(768)){
			margin-bottom: rem(40);
		}

		@media (max-width:em(376)){
			margin-bottom: rem(25);
		}
	}
}

.form-request {
	position: relative;

	display: flex;
	flex-direction: column;
	row-gap: rem(28);

	z-index: 1;

	&__label{
		position: relative;
	}

	&__input {
		width: 100%;
		padding: rem(19) rem(20);
		border: 1px solid $mainColor;
		border-radius: rem(1);

		::placeholder {
			color: #676767;
		}

		@media (max-width:em(768)){
			padding: rem(17.5) rem(20);
		}

		@include adaptiveValue("font-size", 18, 16, 1366, 768);
		@include adaptiveValue("font-size", 16, 14, 768, 375);
		@media (max-width:em(375)){
			font-size: rem(14);
			padding: rem(18.5) rem(20);
		}
	}
	
	&__textarea{
		resize: none;

		min-height: rem(149);
		@include adaptiveValue("min-height", 149, 120, 1366, 768);
		@media (max-width:em(768)){
			min-height: rem(120);
		}
	}

	&__bottom{
		display: flex;
		align-items: center;
		column-gap: rem(30);

		margin-top: rem(25);
		@include adaptiveValue("margin-top", 25, 15, 1366, 768);
		@include adaptiveValue("margin-top", 15, -8, 768, 375);
		@media (max-width:em(375)){
			margin-top: -8px;
		}

		@media (max-width:em(600)){
			flex-direction: column;
			row-gap: rem(16);
			text-align: center;
		}
	}

	&__button{
		font-size: rem(18);
		line-height: math.div(20, 18);
		padding: rem(18) rem(26);	

		@media (max-width:em(1365.98)){
			font-size: rem(16);
			padding: rem(16) rem(23);	
		}
	}

	&__terms{
		line-height: math.div(19, 16);

		font-size: rem(16);
		@include adaptiveValue("font-size", 16, 14, 1366, 768);
		@include adaptiveValue("font-size", 14, 12, 768, 375);
		@media (max-width:em(375)){
			font-size: rem(12);
		}

		& &-link {
			text-decoration: underline;

			@media (any-hover: hover){
				&:hover{
					color: $purpleColor;
				}
			}
		}
	}
}

.thanks-message {
	position: absolute;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

	padding: rem(195) 0;
	@include adaptiveValue("padding-top", 195, 180, 1366, 768);
	@include adaptiveValue("padding-top", 180, 155, 768, 375);
	@include adaptiveValue("padding-bottom", 195, 180, 1366, 768);
	@include adaptiveValue("padding-bottom", 180, 185, 768, 375);
	@media (max-width:em(375)){
		padding-top: rem(155);
		padding-bottom: rem(185);
	}

	background-color: $whiteColor;
	text-align: center;
	opacity: 0;
	touch-action: none;
	
	transition: opacity 0.3s ease 0s;

	._thanks-message-show &{
		opacity: 1;
		z-index: 2;
	}

	&__title {
		font-weight: 500;
		line-height: math.div(57, 60);
		color: $darkPurpleColor;

		font-size: rem(60);
		@include adaptiveValue("font-size", 60, 50, 1366, 768);
		@include adaptiveValue("font-size", 50, 45, 768, 375);
		margin-bottom: rem(25);
		@include adaptiveValue("margin-bottom", 25, 16, 1366, 768);

		@media (max-width:em(376)){
			font-size: rem(45);
			margin-bottom: rem(14);
		}
	}
	&__text {
		margin-bottom: rem(57);
		@include adaptiveValue("margin-bottom", 57, 50, 1366, 768);
		@media (max-width:em(768)){
			font-size: rem(16);
			margin-bottom: rem(50);
		}
	}
	&__button {
		font-size: rem(18);
		line-height: math.div(20, 18);
		padding: rem(18) rem(26);	

		@media (max-width:em(768)){
			font-size: rem(16);
		}
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}